<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel - Book Reviews</title>
  <link rel="stylesheet" href="css/admin-styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <header class="navbar">
    <h1>Admin Panel - Book Reviews</h1>
    <button class="logout-btn">Log Out</button>
  </header>

  <div class="container">
    <aside class="sidebar">
      <div class="search-container">
        <input type="text" class="search-box " placeholder="Search...">
        <button class="search-button"><i class="fas fa-search"></i></button>
      </div>
      <nav>
        <ul>
          <li><a href="/admin">Main</a></li>
          <li><a href="/addreview">Add</a></li>
          <li><a href="/approve">Approve Requests</a></li>
          
        </ul>
      </nav>
    </aside>