<%- include("partials/admin-header.ejs")  %>

<main class="main-content">
    <section class="posts">
      <!-- Display added posts here -->
      <!-- Example Post -->
      <div class="post">
        <h2>Book Title</h2>
        <p>Author: Author Name</p>
        <p>Description: Book Description Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="post-actions">
          <i class="fas fa-pen edit-icon"></i>
          <i class="fas fa-trash-alt delete-icon"></i>
        </div>
        <button class="read-more-btn">Read More</button>
      </div>
      <!-- End of Example Post -->
    </section>
  </main>
</div>

<%- include("partials/admin-footer.ejs")  %>