<%- include("partials/admin-header.ejs")  %>

  <main class="main-content">
    <section class="posts">
      <!-- Display added posts here -->
      <!-- Example Post -->
      <div class="post">
        <h2>Book Title</h2>
        <p>Author: Author Name</p>
        <p>Description: Book Description Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="post-actions">
            <i class="fas fa-check approve-icon"></i>
            <span class="cross-icon-container">
              <i class="fas fa-times cross-icon"></i>
            </span>
        </div>
        <button class="read-more-btn">Read More</button>
      </div>
      <!-- End of Example Post -->
    </section>
  </main>
</div>


<%- include("partials/admin-footer.ejs")  %>